body{
    background-image: url('snehithudu.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 
{
    text-align: center;
    color: darkred;
}
.myDiv
{
    border:10px;
}